/*#027dc3;*/
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    width: auto;
    height: auto;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color:  #027dc3;
}
.logo{
    /*align-items: center;*/
    width: 40px;
    height: 80%;
    margin: auto;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    border-radius: 5px;
}
.nav{
    height: 90%;
    width: 400px;
    margin-left: 35%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.nav a{
    text-decoration: none;
    color: #cde3f0fd;
    font-familypx: 'Varela round', sans-serif;
    font-size: 1rem;
    margin: 5px;
}
.nav a:hover{
    color: #fff;
}
.hero-container{
        position: relative;
        width: 100%;
        height: 500px;
        margin-top: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-image: linear-gradient(#027dc3, #027cc3ae, #fff);
        justify-content: center;
        align-items: center;
        display: flex;
    }

.hero-name{
    position: absolute;
    top: 15%;
    left: 5%;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    transition-delay: 0s;
    font-size: 50px;
    filter: contrast(90%);
    opacity: 1;
    animation: wordAnimation 2s ease-in;
}
@keyframes wordAnimation {
    0% {opacity: 0; transform: scale(0);}
    50% {opacity: 1; transform: scale(1);}
    100% {opacity: 1; transform: scale(1);}
}
.hero-content{
    position: absolute;
    text-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
    left: 5%;
    top: 50%;
    font-family: 'Varela Round', sans-serif;
    color: rgba(255, 255, 255, 0.95);
    width: 40%;
    animation: wordAnimation 2s ease-in;
}
.img-container{
    position: relative;
    z-index: 5;
    width: 400px;
    height: 400px;
    margin-right: -600px;
    float: right;
    justify-content: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}
.hero-img{
    position: relative;
    width: 200px;
    height: 200px;
}
.h-title{
    font-size: 3rem;
    margin-top: 3px;
    margin-bottom: 0px;
    }
.slogan{
    font-size: 1rem;
    color: #cde3f0fd;
    margin-top: 0px;
}
.about-container{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 0px;
    border-radius: 0px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}
.about-title{
    position: absolute;
    top: 2%;
    left: 5%;
    font-family: 'Varela Round', sans-serif;
    color: #027dc3;
    transition-delay: 0s;
    font-size: 40px;
}
.about-content{
    position: absolute;
    text-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
    left: 5%;
    margin-top: 5px;
    font-family: 'Verdana', sans-serif;
    color: #027cc3b8;
    width: 90%;
}
.services{
    position: relative;
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: #fff;
    font-family: 'Varela Round', sans-serif;
}
.ser-title{
    margin-left: 60px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #027dc3;
}
.our-services{
    position: relative;
    width: 100%;
    height: 550px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.dms, .seo, .smm, .cm{
    width: 275px;
    height: 500px;
    background-image: linear-gradient(#027cc3b6, #027dc3);
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0px;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.ser-img{
    width: 90%;
    height: 250px;
    padding: 12px;
    border-radius: 20px;
}
.title, .ser-content{
    margin-left: 10px;
    margin-right: 10px;
}
.approach{
    position: relative;
    height: 530px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: #fff;
    font-family: 'Varela Round', sans-serif;
}
.app-title{
    margin-left: 60px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #027dc3;
}
.our-approach{
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.dds, .cs, .ci{
    width: 95%;
    height: 120px;
    background-color:#c2cacf46;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
    color: #027dc3;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.apc-title, .app-content{
    margin-left: 20px;
}
.app-content{
    margin-top: 5px;
}
.choose{
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: #fff;
    font-family: 'Varela Round', sans-serif;
}
/*http://avocarter.rf.gd */ 
.ch-title{
    margin-left: 60px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #027dc3;
}
.choose-us{
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.top, .bottom{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.exp, .pa, .pr, .cus{
    width: 500px;
    height: 170px;
    background-image: linear-gradient(#027cc3b6, #027dc3);
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 0px;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.chc-title, .ch-content{
    margin-left: 20px;
}
.ch-content{
    margin-top: 5px;
    text-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 20px;
}

.footer{
    position: relative;
    margin-bottom: -200px;
    clear: both;
    width: 100%;
    height: 280px;
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(#fff, #027cc3ae, #027dc3);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}
.foot-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: #027dc3;
}
.foot-content{
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}
.foot-content1{
    margin-top: 2px;
}
.contact-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.contact{
    background: #027dc3;
    padding: 12px;
    border-radius: 10px;
    z-index: 10;
    border: 0;
    outline: 0;
    cursor: pointer;
    animation: fade-in 0.5s linear 1;
    transition: all 0.5s ease-in;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Varela Round', sans-serif;
}
.contact:hover{
    background: #fff;
    box-shadow: #027cc3a4 5px 5px;
    color: #027dc3;
}
.foot{
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 0px;
    width: 100%;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #027dc3;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    font-size: small;
}
.top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px; 
    width: 40px;
    height: 40px;
    z-index: 99;
    border: none;
    background-color: #fff;
    color: #027dc3;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.top-btn:hover{
    background-color: #027dc3;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
}
.up{
	font-size: 100%;
	padding: auto;
}
